
.faq {
    color: black;
}

.faq button {
    background-color: #FB8D6650;
}

.faq button:focus {
    font-weight: 700;
}

.faq .answer {
    background-color: #ffffff80;
    font-weight: 500;
}
</style>