.nav-scrolled {
    background-color: #ffff;
    border-radius: 0;
    transition: all 0.4s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.nav-initial {
    background-color: transparent;
}

.nav-scrolled ul li a {
    color: #2b2b2b;
    font-weight: 400;
}

.nav-scrolled ul li a:hover {
    color: #fb8d66;
    font-weight: 500;
}

.nav-scrolled .login-btn {
    background-color: transparent;
    border: 1px solid #eb6536;
    color: #eb6536;
    font-weight: 500;
    box-shadow: none;
}

.nav-scrolled .login-btn:hover {
    font-weight: 700;
    background-color: #eb6536;
    color: #fff;
}

.nav-scrolled .mobile-menu svg {
    color: #eb6536;
}
